@import 'global';
.container{
    display:flex;
    width:100vw;
    height:88vh;
    justify-content: center;
   
    
    .jobWrapper{
        width:80vw;
        // background-color:#F0E7E2;
        border-radius: $radius;
        position: relative;
        height:85vh;
        &:nth-child(1){
            
            input{
                height:3rem;
                width:90%;
            }
        }
         &:nth-child(3){
            .select{
                width:20%;
            }
        }
         &:nth-child(4){
            .content{span{
                font-size:.5rem ;
            }}
        }
         &:nth-child(5){
            .content>input{
            
               height:10rem;
               width:90%;
            
            }
        }
       .card{
        height:12vh;
        width:30vw;
        background-color:transparent;
        display:flex;
        flex-direction:column;
        margin-left:5rem;
         input{
                border-radius: $radius;
                background-color: whitesmoke;
                height:8vh;
                    &:hover{
                    border: #F27400 1px solid; 
                            }
                      
    }
          input.firstrow{
                height:6rem;

            }
            
        h3{
            margin-bottom:0;
            font-size: small;
      color:$theme-color;
       
        }
        .h3h{
            font-weight:bold;
        }
        .content{
            display:flex;
            flex-direction:column;
            align-items:flex-start;
            margin-top:0;
            P{
                line-height:.7rem;
                font-size:1rem;
                font-weight: 500;
            }
        }
        span{
            font-size: small;
            font-weight: bolder;
            input{
                border-radius: $radius;
                background-color: whitesmoke;
                            }
                        
        }
       .content{
        display:flex;
        flex-direction: column;
        margin-left:2rem;
        h3{
            margin-bottom: 0;
        }
        p{
            margin:.2rem;
            font-size: .8rem;
            font-family:$f-primary;
        }
        .indent{
            margin-top:.3rem;
            margin-left:4rem;
        }
        
       }
        
       }
       .fourthRight{
        display:flex;
        align-items: flex-end;
        justify-content: flex-end;
       }
       button{
        height:2.2rem;
        width:6rem;
        background-color:#F27400;
        border-radius:2rem;
        border:none;
        position:relative;
        margin:auto;
        font-weight: bold;
       }
       }
}