@import 'global';
.container{
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;

    .logo{
        position:absolute;
        top:0;
        left:0;
        width: 100px;
        height:100px;
        display:flex;
        h3{
            
                position:absolute;
                left:10px;
                color:white;
                font-family:$logo;
                font-style: normal;
              font-weight: 400;
              
              
        }
    }
    .clientContainer{
        display:flex;
        width:90vw;
        height:80vh;
        margin:auto;

.inputWrapper{
display:flex;
flex-direction:column;
background: #F1E6E6;
justify-content:space-evenly;
width:35vw;
height:70vh;
margin:auto;
border: 1px solid $border-color;
border-radius: 1rem;
label{
    font-size:.8rem;
    padding:.1rem;


}
&:nth-child(1)
{
    display:flex;
    justify-content: space-around;

 
    
}
.names{
    display:flex;
    flex-direction:column;
    width:90%;
    height:2rem;
    justify-content: space-around;
}

}
    }
}